<div class="col-md-4 static">

    <div class="card well">
      <img class="card-img-top img-responsive rounded" src="/images/children.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Pourquoi faire un don</h5>
        <p class="card-text">
          Il ne vous reste plus qu’à inviter, par tous les moyens (téléphone, mail, Facebook…), vos amis, vos
          relations, vos collègues à consulter cette page. Ils pourront y faire leurs dons en ligne, sur un site
          complètement sécurisé, et recevoir leur reçu fiscal.
        </p>
        <a href="#" class="btn btn-primary center">Faire un Don</a>

      </div>

    </div>
    <div id="disqus_thread"></div>
    <script>
      /**
       *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
       *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
      /*
      var disqus_config = function () {
      this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      */
      (function () { // DON'T EDIT BELOW THIS LINE
        var d = document,
          s = d.createElement('script');
        s.src = 'https://test-va5fupeos5.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
        Disqus.</a></noscript>

    <hr>

    <div class="card" style="width: 18rem;">
      <!-- <img class="card-img-top img-responsive" src="/images/children.jpg" alt="Card image cap"> -->
      <div class="card-body">
        <!-- <h5 class="card-title">Pourquoi faire un don</h5> -->
        <p class="small">
          <a href="" class="smile">A Propos</a>
          <a href="" class="">Contact</a>
          <a href="" class="">Nous Supporter</a>
          <br>
          <p>&copy;copyright SaynaStudents 2019</p>
        </p>
        <!-- <a href="#" class="btn btn-primary">Faire un Don</a> -->

      </div>
    </div>
  
  </div>
